:root {
  // var(--padding)
  --padding:16px;
  //字体
  --main-title-size: 22px;
  --title-size: 16px;
  --content-size:14px;
  --other-size:12px;
  //颜色
  --c1:#2B3D53;
  --c2:#f7f7f7;
  --c3:#fff;
  --c4:#EDF4FF;
  --c5:#5F94FF;
  --c6:#5A6879;
  --c7:#409EFF; 
  --c8:#66B1FF;
  --c9:#53A8FF;
  --c10:#79BBFF;
  --c11:#303133;
  --c12:#606266;
  --c13:#909399;
  --c14:#C0C4CC;
  --c15:#DCDFE6;
  --c16:#EBEEF5;
  --c17:#409EFF;
  --c18:#FA5555;
  --c19:#53B721;
  --c20:#F5F7F9;
}

