$white:#fff;
$theme-color:#2B3D53; 
//背景色
$table-hover-bgcolor:#798A9A;//表格悬浮底色
$gradient-blue-bgcolor:linear-gradient(90deg, #31A8FF , #7EEBFF);
$blue: #31A8FF;
$blue-bg1:#31A8FF;
$blue-bg2: #F2F6FC;
$blue-bg3: #9CDCFF;
$blue-bg4: #F1F5FA;
$grey-bg1: #EBEEF5;
$white-color2: #DCDFE6;
$white-color3: #F4F8FF;
$status-color: #F0F2F5;
$plue-color: #E3EDFF;
$package-color: #F4F8FF;
$avatar-color: #F2F2F2;
//字颜色
$font-main-color: #606266;
$font-third-color: #909399;
$font-forty-color: #C0C4CC;
$font-sm-color: #707070;
$font-button-color: #B0DEFF;
$font-operation-color: #FFB872;
$font-link-color: #31A8FF;
$font-checked-color: #409EFF;
$font-bread-color: #E4E7EC;
$font-renewals-color: #FA5555;
$font-icon-color: #909399;
$font-empty-color: #86AEFE;
$font-strong-color: #5480E5;
$font-light-color: #303133;
$font-address-color: #333;
//字大小
$font-logo-size: 24px;
$font-login-title-size: 22px;
$font-main-size: 16px;
$font-third-size: 14px;
$font-lg-size: 20px;
//边框色
$border-color1: #EEEFF6;
$border-color2: #CED9F4;
$border-bottom-color: #E5E7EC;
$border-default-color: #a3d9ff;
// 阴影色
$shadow-color: #F9F9F9;

// 搜索框背景色
$seach-color:#EBEEF5;
$font-forth-size: 12px;
$font-fifth-size: 18px;
//边框色
$border-color1: #EEEFF6;
$border-color2: #C6E7FF;

//页面最小宽度
$minWidth: 1440px;
$minHeight: 960px;
