
.page-warpper{
    width: 100vw;
    height: calc(100vh - 65px);
    min-width: 1181px;
    background: var(--c2);
    padding: var(--padding);
    .flex{
        display: flex;
        align-items: center;
    }
    .search-container{
        .form-item{
            padding-right: var(--padding);
            .label{
                padding-right: var(--padding);
            }
            .el-date-editor{
                width: 232px;
            }
            .el-select{
                .el-input__inner{
                    width: 140px;
                }
            }
            .ip-input .el-input__inner{
                width: 209px;
            }
        }
    }
    .table-warpper{
        background: var(--c3);
        padding: var(--padding);
        margin-top: var(--padding);
        color: var(--c12);
        .table-header{
            background: var(--c4);
        }
        .even-row{
            background: #F5F7F9;
        }
        .footer{
            padding:16px 0px;
            text-align: right;
        }
    }
}